# ASP.NET
ASPNETCORE_ENVIRONMENT=Production

# Crawler Settings
CRAWLER_DISABLED=false
CRAWLER_THREADS=16
# 1200 is Maximum!
CRAWLER_REQUESTS_PER_MINUTE=1200

# Kaesereibe (Cheesegull Crawler)
CHEESEGULL_CRAWLER_DISABLED=true
CHEESEGULL_API=

# Updater
UPDATER_DISABLED=false

# Osu Settings
OSU_EMAIL=
OSU_PASSWORD=

# Cleaner Settings
# B = Bytes, K = Kilobytes, M = Megabytes, G = Gigabytes, T = Terabytes
CLEANER_MAX_SIZE=500G

# Datadog Settings
API_KEY=

# Sentry Settings
SENTRY_DNS=

# Private API
PRIVATE_API_KEY=changeme
