# ASP.NET
ASPNETCORE_ENVIRONMENT=Production

# Crawler Settings
CRAWLER_DISABLED=false
CRAWLER_THREADS=16

# Osu Settings
OSU_API_KEY=
OSU_EMAIL=
OSU_PASSWORD=

# Cleaner Settings
# B = Bytes, K = Kilobytes, M = Megabytes, G = Gigabytes, T = Terabytes
CLEANER_MAX_SIZE=500G

# Datadog Settings
API_KEY=

# Sentry Settings
SENTRY_DNS=
