# ASP.NET
ASPNETCORE_ENVIRONMENT=Production

# Crawler Settings
CRAWLER_DISABLED=false
CRAWLER_THREADS=16
# 1200 is Maximum!
CRAWLER_REQUESTS_PER_MINUTE=1200

# Osu Settings
OSU_EMAIL=
OSU_PASSWORD=

# Cleaner Settings
# B = Bytes, K = Kilobytes, M = Megabytes, G = Gigabytes, T = Terabytes
CLEANER_MAX_SIZE=500G

# Datadog Settings
API_KEY=

# Sentry Settings
SENTRY_DNS=

# Master Server Settings
MASTER_SERVER=false
MASTER_SERVER_HTTPS=true
MASTER_SERVER_HOST=master.pisstau.be

# Private API
PRIVATE_API_KEY=changeme

# Kaesereibe
CHEESEGULL_CRAWLER_DISABLED=true
CHEESEGULL_API=
