# MariaDB Database
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_DATABASE=pisstaube
MARIADB_USERNAME=root
MARIADB_PASSWORD=

# Crawler Settings
CRAWLER_DISABLED=false

# Updater
UPDATER_DISABLED=false

# Osu Settings
OSU_USERNAME=
OSU_PASSWORD=

# ElasticSearch Settings
ELASTIC_HOSTNAME=127.0.0.1
ELASTIC_PORT=9200

# Cleaner Settings
# B = Bytes, K = Kilobytes, M = Megabytes, G = Gigabytes, T = Terabytes
CLEANER_MAX_SIZE=500G

# Sentry Settings
SENTRY_DNS=

# Data dog
DD_AGENT_HOST=127.0.0.1
DD_DOGSTATSD_PORT=8125

# IPFS Implementation is optional and requires a Cloudflare worker! (But I'll implement it anyway)
IPFS_HOST=http://localhost:5001

